**/.git
**/.vs
**/.vscode
**/bin
**/obj
**/out
**/node_modules
**/*.user
**/*.suo
**/*.sln.docstates
**/TestResults
**/coverage
**/.DS_Store
**/Thumbs.db
**/appsettings.*.local.json
**/secrets.json
**/*.md
!README.md
**/Dockerfile*
**/.dockerignore
**/docker-compose*
**/compose*
**/.env*
**/k8s
**/.idea