**/.git
**/.vs
**/.vscode
**/node_modules
**/dist
**/.angular
**/.sass-cache
**/coverage
**/*.md
!README.md
**/.DS_Store
**/Thumbs.db
**/Dockerfile*
**/.dockerignore
**/docker-compose*
**/compose*
**/.env*
**/e2e
**/cypress
**/*.log
**/.idea